<div class="container-fluid" >
  <a class="btn btn-primary fas fa-backspace" routerLink="/teams"><</a><a class="text-uppercase font-weight-bolder" style="font-size:30px">Detail of your favorite AFL team</a>
  <br><br>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Team ID </th>
        <th scope="col">Team Name</th>
        <th scope="col">Logo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{team.id}}</td>
        <td>{{team.name}}</td>
        <td>
          <img src="https://squiggle.com.au{{team.logo}}" />
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>Choosing section to see the more detail of your team</h2>
  <table class="table table-striped ">
    
    <tr>
      <td><a class="btn btn-success" routerLink="/teams/{{team.id}}/results">
          Prediction Results
        </a></td>
        <td><a class="btn btn-success" routerLink="/teams/{{team.id}}/next5-game">
          Next Five Game
        </a></td>
        <td><a class="btn btn-success" routerLink="/teams/{{team.id}}/finalResult">
          Results
        </a></td>
        <td><a class="btn btn-success" routerLink="/teams/{{team.id}}/headTeam">
          Head To Head
        </a></td>
      
    </tr>
  </table>
  <br><br>
  <h2>AFL restart plans after coronavirus shutdown complicated by state governments, not Victorian parochialism</h2>
  <br>
  <p>Given the logistics and also the sensitivities involved with attempting to turn a mostly Melbourne-based suburban league into a national competition, the VFL's evolution into the AFL has been reasonably smooth.

    With some emotional wrenching, 12 Victorian clubs became 10, with two teams in each of the other mainland states and Tasmania drip-fed games by North Melbourne and Hawthorn at taxpayer expense, all the while given a faint hope of getting a team of their own.
    
    Yet, 30 years after the V was replaced by the more inclusive A, there are still those in Western Australia and South Australia particularly who mumble about the competition's Melbourne bias.</p>
    <p>The AFL grand final is contractually tethered to the MCG until 2057 and "interstate clubs", as Victorians still call them, must travel to events such as the Brownlow Medal — which is named in honour of a relatively obscure Victorian official.

    </p>
    <p>Meanwhile, fans of the once-prosperous SANFL and WAFL lament the damage wrought on their local competitions by the Victorians in the way they once resented players "stolen" by the VFL wearing the Big V in interstate carnivals.

      Never mind that AFL chief executive Gillon McLachlan is the scion of a South Australian grazing family and a graduate of St Peter's College and the University of Adelaide, or that AFL chairman Richard Goyder is a former Fremantle board member.
      
      Conspiracy theories about bias against SA and WA clubs retain strong currency and the likely disadvantage those teams will suffer during an increasingly problematic AFL season are the source of the latest mutterings about Victoria's continued stranglehold on the competition.
      
      The reluctance of the WA and SA governments to provide quarantine exemptions means both clubs from Perth and Adelaide could be forced to occupy hubs in Queensland or elsewhere while players from the other 14 teams enjoy the comforts of their homes — and their home grounds.</p>
</div>