<div class="container-fluid layoutfooter">
  <div class="card-footer text-muted card-deck">
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title text-primary text-center text-uppercase">Latrobe AFL Opening House</h5>
        <div class="card-text text-center">
          <p>Monday: 9am-9pm</p>
          <p>Tuesday: 9am-9pm</p>
          <p>Wednesday: 9am-9pm</p>
          <p>Thursday: 9am-9pm</p>
          <p>Friday: 9am-9pm</p>
          <p>Saturday: 9am-9pm</p>
          <p>Sunday: Close</p>
        </div>
        
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title text-primary text-center text-uppercase">Find Us</h5>
        <div class="card-text text-center">
          <span style="font-size:20px"  class="badge badge-pill  btn btn-primary "><i class="fa fa-facebook" aria-hidden="true">  Facebook</i>  </span>
          <br><br>
          <span style="font-size:20px" class="badge badge-pill btn btn-danger"><i class="fa fa-instagram" aria-hidden="true">Instagram</i> </span>
          <br><br>
          <span style="font-size:20px" class="badge badge-pill btn btn-danger"><i class="fa fa-youtube-play" aria-hidden="true"></i>  Youtube </span>
          <br><br>
          <span style="font-size:20px" class="badge badge-pill btn btn-primary"><i class="fa fa-twitter-square" aria-hidden="true"></i>   Twitter </span>
        </div>
        
      </div>
    </div>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title text-primary text-center text-uppercase">Contact Infor</h5>
        <div class="card-text text-center">
          <p>Address: Latrobe Univercity st, Bundoora</p>
          <p>Phone Number: 18827177</p>
          <button type="button" class="btn btn-primary btn-lg">Contract Us</button>

        </div>
        
      </div>
    </div>
   
  </div>
</div>
