<div class="container-fluid" >
  <h2 class="text-center font-weight-bold text-uppercase text-white "
    style="background-color: rgba(2,52,125,0.9); height: 100px; line-height: 90px;">
    <i class="fa fa-line-chart" aria-hidden="true"></i>
    Ladder
  </h2>
  <br>
  <table  class="table table-borderless text-center ">
    <thead style="color: rgb(2,60,145);">
      <tr class="border-bottom" style="border-color: rgba(2,60,145,0.7);box-shadow: 0px 5px;">
        <th scope="col">Team ID</th>
        <th scope="col">Team Name</th>
        <th scope="col">Win Percentage</th>
        <th scope="col">Rank</th>
        <th scope="col">Update Time</th>
        <th></th>
      </tr>
    </thead>
    <script>
      {{ladder| orderBy}}
    </script>
    <tbody>
      <tr *ngFor = " let game of ladder ">
        <td scope="row">{{game.teamid}}</td>
        <td>{{game.team}}</td>
        <td>{{game.percentage}}</td>
        <td>{{game.rank}}</td>
        <td>{{game.updated}}</td>
        
      </tr>
    </tbody>
  </table>
</div>