<div class="container-fluid">
  <h2 class="text-center font-weight-bold text-uppercase text-white "
    style="background-color: rgba(2,52,125,0.9); height: 100px; line-height: 90px;">
    <i class="fa fa-area-chart" aria-hidden="true"></i>
    Stranding in 2020
  </h2>
  <br>
  <table class="table table-borderless text-center ">
    <thead style="color: rgb(2,60,145);">
      <tr class="border-bottom" style="border-color: rgba(2,60,145,0.7);box-shadow: 0px 5px;">
        <th scope="col">Position</th>

        <th scope="col">Club</th>
        <th scope="col">Won</th>
        <th scope="col">Lost</th>
        <th scope="col">Drawn</th>

        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor=" let game of standing ">
        <td scope="row">{{game.rank}}</td>

        <td>{{game.name}}</td>
        <td>{{game.wins}}</td>
        <td>{{game.losses}}</td>
        <td>{{game.draws}}</td>


      </tr>
    </tbody>
  </table>
</div>