<div class="container-fluid">
    <div class=" text-center " style="background-color: rgba(2,52,125,0.9); ">
        <h2 class=" font-weight-bold text-uppercase text-white " style="height: auto; line-height: 90px;">
            <i class="fa fa-history" aria-hidden="true"></i>
            The AFL Administration
        </h2>
        <div>
            <a class=" btn text-white font-weight-bold text-uppercase" routerLink="aboutUs">AFL History</a>
            <a class="btn text-white font-weight-bold text-uppercase" routerLink="aflAdmin">The AFL Administration</a>
            <a class="btn text-white font-weight-bold text-uppercase" routerLink="aflRules">AFL Rules</a>
        </div>


    </div>
    <br>

</div>
<div class="container">
    <img src="https://resources.afl.com.au/photo-resources/2019/11/14/5ecef86f-6ae2-477f-aefe-b020e795e52b/aflexec-2019.png?width=952&height=592"
        width="100%" height="auto">
    <br><br>
    <div class="text-center">
        <p class="font-weight-bold text-centre">At the head of the AFL structure is the AFL Commission comprising 10
            commissioners. They are Chairman Richard Goyder, AFL Chief Executive Officer Gillon McLachlan,
            Jason Ball, Paul Bassat, Robin Bishop, Professor Helen Milroy, Andrew Newbold, Gab Trainor, Simone Wilkie
            and Kim Williams.
            cricketers fit during off-season.</p>

        <p>The chief executive officer is appointed by the AFL Commission and is responsible for the operating
            performance of
            the AFL and the implementation of policy decided by the commission.
            He is also the public face of the commission.</p>

        <h3 style="color: rgb(2,60,145);">Organisational structure</h3>
        <p>The AFL, under the Chief Executive, is divided into departments led by General
            Managers across each of these areas of executive responsibility.</p>
        <a class="font-weight-bold">Chief Financial Officer and General Manager of Clubs and Broadcasting: Travis
            Auld.</a>
        <p>Gillon McLachlan has a Bachelor of Commerce from the University of Adelaide and a Bachelor of Laws (Hons)
            from the University of Melbourne. Worked in a strategic role at Andersen Consulting (now Accenture) that
            involved a variety of
            industries in different countries. This included a six-month contract in the Philippines.
            Joined the AFL in May 2000 as a strategic planner and was appointed General Manager Commercial Operations in
            November 2003 before
            taking on the additional areas of broadcasting and major projects in 2006. Was promoted to the position of
            Chief Operating Officer in 2008 with responsibility for AFL broadcasting and digital media, fixturing, venue
            agreements and stadia infrastructure.
            Appointed Deputy Chief Executive Officer in December 2012 and Chief Executive Officer (replacing Andrew
            Demetriou) on April 30, 2014.</p>
        <br>
        <a class="font-weight-bold">Secretaries / General Managers</a>
        <p>1897-1929: Edwin Wilson <br>
            1929-1956: Like McBrien, OBE <br>
            1956-1976: Eric McCutchan, OBE <br>
            1977-1984: Jack Hamilton, AM <br>
            1985-1986: Alan Schwab </p>
        <a class="font-weight-bold">Commissioner</a>
        <p>1984-1986: Jack Hamilton</p>
        <a class="font-weight-bold">Chair – Commission</a>
        <p>1986-1993: Ross Oakley <br>
            1993-1997: John Kennedy <br>
            1998-2007: Ron Evans <br>
            2007-2016: Mike Fitzpatrick <br>
            Since 2017: Richard Goyder</p>
        <a class="font-weight-bold">Executive Commissioner</a>
        <p>1986-93: Alan Schwab</p>
        <a class="font-weight-bold">Chief Executive Officer</a>
        <p>1994-1996: Ross Oakley <br>
            1996-2003: Wayne Jackson <br>
            2003-2014: Andrew Demetriou <br>
            Since 2014: Gillon McLachlan</p>
    </div>

</div>