<div class="container-fluid">
    <div class=" text-center " style="background-color: rgba(2,52,125,0.9); ">
        <h2 class=" font-weight-bold text-uppercase text-white " style="height: auto; line-height: 90px;">
            <i class="fa fa-history" aria-hidden="true"></i>
            The AFL Administration
        </h2>
        <div>
            <a class=" btn text-white font-weight-bold text-uppercase" routerLink="aboutUs">AFL History</a>
            <a class="btn text-white font-weight-bold text-uppercase" routerLink="aflAdmin">The AFL Administration</a>
            <a class="btn text-white font-weight-bold text-uppercase" routerLink="aflRules">AFL Rules</a>
        </div>


    </div>
    <br>

</div>

<div class="container">
    <iframe class="rounded mx-auto d-block" id="videoYoutube" width="1000px" height="500px"
        src="https://www.youtube.com/embed/XMZYZcoAcU0">
    </iframe>

    <br><br>
    <div class="text-center">
        <p class="font-weight-bold text-centre">The purpose of the Laws is to explain how a match of Australian Football
            is played and seek to attain the following objectives:</p>

        <p>The AFL is delighted again in season 2016 to be able to provide the 2016 Laws of Australian Football video.
        </p>

        <p>These videos will take you through all the key rules and interpretations of Australian Football, which will
            provide you with a greater understanding of our game.</p>

        <p>To maintain and enhance Australian Football as the most spectacular game in the world, the game at AFL level
            must remain entertaining and exciting to watch and safe to play within the confines of a body contact sport.
        </p>


    </div>

</div>