<div class="container-fluid" >
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID </th>
        <th scope="col">Source Name</th>
        <th scope="col">Logo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let sources of source">
        <td scope="row">{{sources.id}}</td>
        <td>{{sources.name}}</td>
        <td>
          <img src="https://squiggle.com.au{{sources.icon}}" />
        </td>
      </tr>
    </tbody>
  </table>
</div>