<div class="container-fluid text-center">
  <h2 class="text-center font-weight-bold text-uppercase text-white "
    style="background-color: rgba(2,52,125,0.9); height: 100px; line-height: 90px;">
    <i class="fa fa-server" aria-hidden="true"></i>
    Source
  </h2>
  <table class="table table-bordered">
    <thead style="background-color: rgb(2,60,145);">
      <tr class="text-white">
        <th scope="col"># </th>
        <th scope="col">Source Name</th>
        <th scope="col">Logo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sources of source">
        <td scope="row">{{sources.id}}</td>
        <td>{{sources.name}}</td>
        <td>
          <img src="https://squiggle.com.au{{sources.icon}}" />
        </td>
      </tr>
    </tbody>
  </table>
</div>