<br>
<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="rounded mx-auto d-block"
          src="https://resources.afl.com.au/photo-resources/2020/05/22/0d4e3fbf-0bf4-4c01-b1c4-def080ee4c8a/rWItuRbP.jpg?width=952&height=592"
          alt="First slide" width="100%" height="auto">
      </div>
      <div class="carousel-caption">
        <h3>Fixture Throwback from 3pm AEST: Watch the highlights from old classics</h3>
        <p>The Toyota Fixture Throwback series is back for round 10.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="rounded mx-auto d-block" width="100%" height="auto"
          src="https://resources.afl.com.au/photo-resources/2020/05/22/bcd55e16-6cbb-4bb7-8f52-a732b6ac8dca/TR220520RC0065.JPG?width=952&height=592"
          alt="Second slide">
      </div>
      <div class="carousel-caption">
        <h3>Pendles' plan: Star Pie calls on the AFL to make radical changes</h3>
        <p>Collingwood captain Scott Pendlebury is keen for radical changes to the AFL season.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="rounded mx-auto d-block" width="100%" height="auto"
          src="https://resources.afl.com.au/photo-resources/2020/05/19/57ea2dce-75b3-49c4-bf14-c64c9d258223/GF1970_RichvCol_MStone-2-.jpg?width=952&height=592"
          alt="Third slide">
      </div>
      <div class="carousel-caption">
        <h3>Friday Footy Quiz: What did they call the Pies to mock their GF curse?</h3>
        <p>Test your footy knowledge with the Friday Footy Quiz, brought to you by Thrifty.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <br>
  <div>
    <div class="card-deck">
      <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="border-color:rgb(5,41,82) ;">
        <div class="card-block">
          <img
            src="https://resources.afl.com.au/photo-resources/2020/05/21/124c8782-7a75-40a7-95a1-68dbf147cbdc/Greatest-Draft-Smokies.jpg?width=952&height=592"
            class="card-img-top" alt="...">
          <h4 class="card-title">Your club's best draft smokey of the 21st century</h4>
          <br>
          <p class="card-text">
            PLENTY of strong teams are built around high draft picks, but it's the value selections later on in the
            draft
            that recruiters often hang their hats on.<br />

          </p>
        </div>

        <div class="card-footer">
          <button href="https://google.com" class="text-white font-weight-bold rounded-pill"
            style="background-color:rgb(5,41,82); height: 40px;">View Detail</button>
        </div>
      </div>

      <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="border-color:rgb(5,41,82) ;">
        <div class="card-block">
          <img
            src="https://resources.afl.com.au/photo-resources/2020/05/22/50fc80f2-7f40-44f5-bdb6-2569e626087b/AA171018MW0030.JPG?width=952&height=592"
            class="card-img-top" alt="...">
          <h4 class="card-title">'You're dealing with super high-quality people': The tough calls clubs are making</h4>
          <br>
          <p class="card-text">
            HAWTHORN football boss Graham Wright has detailed the difficult decisions AFL clubs are having to make to
            adapt to the game's biggest challenge in 75 years.<br />

          </p>

        </div>
        <div class="card-footer">
          <button href="https://google.com" class="text-white font-weight-bold rounded-pill"
            style="background-color:rgb(5,41,82); height: 40px;">View Detail</button>
        </div>
      </div>

      <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="border-color:rgb(5,41,82) ;">
        <div class="card-block">
          <img
            src="https://resources.afl.com.au/photo-resources/2020/05/18/168309bf-024c-41f7-bc0c-d94bbe07f010/UyJXWkaj.jpg?width=952&height=592"
            class="card-img-top" alt="...">
          <h4 class="card-title">Explainer: Everything you need to know about footy's restart</h4>
          <br>
          <p class="card-text">
            THE 2020 Toyota AFL Premiership Season is finally due to return on June 11.

            In the aftermath of the unprecedented suspension of play - and with the help of ahm health insurance
            (keeping it simple) - here is what we know about the AFL's reboot..<br />

          </p>
        </div>
        <div class="card-footer">
          <button href="https://google.com" class="text-white font-weight-bold rounded-pill"
            style="background-color:rgb(5,41,82); height: 40px;">View Detail</button>
        </div>
      </div>
      <div class="card text-center shadow p-3 mb-5 bg-white rounded" style="border-color:rgb(5,41,82) ;">
        <div class="card-block">
          <img
            src="https://resources.afl.com.au/photo-resources/2020/05/31/d925f70d-b243-40d2-a8c8-df6898ebd721/nUOzKQDa.jpg?width=451&height=268"
            class="card-img-top" alt="...">
          <h4 class="card-title">The devastating news that left a superstar in 'utter disbelief'</h4>
          <br>
          <p class="card-text">
            "It was just total and utter disbelief that someone who had only been at the organisation a really short
            period of time but had influenced so many was not going to be there," Dangerfield told Hamish McLachlan in
            the new series The Last Time I Cried.

          </p>
        </div>
        <div class="card-footer ">
          <button href="https://google.com" class="text-white font-weight-bold rounded-pill"
            style="background-color:rgb(5,41,82); height: 40px;">View Detail</button>
        </div>
      </div>
    </div>
  </div>


</div>